{% load static %}
<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <head>
      <title>Electronics Monitor Board - DEMO</title>
  </head>
  <body>
    <div class="header">
        <div class="head_logo">
                <a href="/"><img src="{% static 'Logos.png' %}" class="logo"></a>
        </div>
    </div>
    <div class="center">
    	<input type="submit" value="Play Demo" name="Demo">
  	</div>
	</body>
</html>		
